h1 {
  color: #000;
  font-size: 26px;
  font-weight: 800;
}

h2 {
  font-size: 26px;
  color: #000;
  font-weight: 800;
}

footer {
  text-align: center;
  margin: 0 auto;
  font-family: Arial;
  color: #000;
  font-weight: bold;
}

p::first-letter {
  text-transform: capitalize;

  line-height: 1;
  padding: 0;
}

.weather-woman {
  display: block;
  position: relative;
  left: 72%;
  top: 5;
}

.container {
  color: #000;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 1px none #fff;
  border-radius: 12px;
  box-shadow: 0px 9px 15px 3px rgba(64, 16, 113, 0.6);
  max-width: 600px;
  display: block;
  padding: 20px;
  margin-top: 50px;
}

.weather-forecast {
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  color: #000;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  border: 2px none #fff;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 800;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.weather-forecast:hover {
  background: #fff;
  cursor: pointer;
}

.forecast-min {
  color: #000;
  opacity: 0.7;
}

a:link {
  text-decoration: none;
}

#current-temp {
  font-size: 32px;
  font-weight: bold;
}

#time-clock {
  font-size: 12px;
}
